*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.search__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
}

.search {
    border: none;
    color: #323232;
    font-size: 14px;
    line-height: 16px;
}

.search:focus {
    outline: none;
    border-bottom: 2px solid #E97F03;
}

.search:focus::placeholder {
    opacity: 0;
}

.search:focus~.search__icon path {
    fill: #E97F03;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 64px;
}

.nav__icon {
    width: 24px;
    height: 24px;

    cursor: pointer;
}

.product__favorite {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.product__favorite img:first-child {
    display: block;
}

.product__favorite img:last-child {
    display: none;
}

.fav-active img:first-child {
    display: none;
}

.fav-active img:last-child {
    display: block;
}

@media screen and (max-width: 488px) {
    .header {
        padding-top: 16px;
    }

    .header__search {
        width: 200px;
    }
}