.product-card {
    padding-top: 24px;
}

.product-card__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.product-card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 76px;
    width: 300px;
    height: 300px;
    border: 1px solid #F2F2F2;
}

.product-card__info {
    margin-left: 16px;
}

.card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.card__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.card__text {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.card__option {
    position: relative;
    width: 493px;
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}

.card__option .product__favorite {
    top: 9px;
    right: 0;
}

.card__price {
    font-size: 36px;
    line-height: 42px;
    color: #E97F03;

    margin-right: 16px;
}

.card__count {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 16px;
}

.count__btn {
    width: 40px;
    height: 40px;
    border: 1px solid #323232;
    padding: 0;
    background: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.count__btn svg {
    width: 24px;
    height: 24px;
}

.count__number {
    width: 100px;
    height: 40px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #323232;
    border-top: 1px solid #323232;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}


.card__btn {
    background: #E97F03;
    border: none;
    border-radius: 10px;

    cursor: pointer;

    padding: 6px 20px;

    text-align: center;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #fff;

    transition: all 0.2s ease-out;
}

.card__btn:hover {
    background: #E99330;
}

@media screen and (max-width: 488px) {
    .product-card {
        padding-top: 16px;
    }

    .product-card__wrapper {
        flex-direction: column;
    }

    .product-card__img {
        width: 100vw;
        height: 200px;
        padding: 0;
        margin: 0 -24px;
        border: none;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%);
    }

    .product-card__info {
        margin-left: 0;
        margin-top: 16px;
    }

    .card__option {
        width: 327px;
        height: 96px;
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .card__price {
        position: absolute;
        left: 0;
        top: 0;

        margin: 0;
    }

    .count__number {
        width: 60px;
    }

    .card__count {
        margin-right: 27px;
        margin-top: 56px;
    }

    .card__btn {
        margin-top: 56px;
    }

    .card__option .product__favorite {
        top: 8px;
        right: 0;
    }
}